openapi: 3.1.0
info:
  title: AnchorBrowser Agentic capabilities API
  version: 1.0.0
  description: APIs to manage all browser-related actions and configuration.
servers:
- url: https://api.anchorbrowser.io
  description: API server
tags:
- name: Agentic capabilities
paths:
  /v1/sessions/{sessionId}/agent/files:
    post:
      summary: Upload Agent Resources
      description: "Upload files as agent resources to a browser session using multipart/form-data. \nIf you upload a ZIP file, it will be automatically extracted and the files will be made available as agent resources.\nIf you upload a single file, it will be saved directly as an agent resource.\nResources are then accessible to AI agents for task completion and automation.\n"
      security:
      - api_key_header: []
      tags:
      - Agentic capabilities
      parameters:
      - name: sessionId
        in: path
        required: true
        description: The browser session ID
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
                  description: File to upload as agent resource (ZIP files will be extracted automatically)
      responses:
        '200':
          description: Agent resources uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                      message:
                        type: string
        '400':
          description: Invalid request (no resource uploaded or file too large)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to upload or process agent resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: List Agent Resources
      description: 'List all resources that have been uploaded to the browser session for agent use.

        Returns resource metadata including name, size, type, and last modified timestamp.

        '
      security:
      - api_key_header: []
      tags:
      - Agentic capabilities
      parameters:
      - name: sessionId
        in: path
        required: true
        description: The browser session ID
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Agent resources listed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      files:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The resource name
                            size:
                              type: integer
                              description: Resource size in bytes
                            type:
                              type: string
                              description: Resource extension/type
                            lastModified:
                              type: string
                              format: date-time
                              description: When the resource was last modified
        '400':
          description: Session is not running
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to list agent resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponse'
  /v1/sessions/{session_id}/agent/pause:
    post:
      summary: Pause Agent
      description: Pauses the AI agent for the specified browser session.
      security:
      - api_key_header: []
      tags:
      - Agentic capabilities
      parameters:
      - name: session_id
        in: path
        required: true
        description: The ID of the browser session
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Agent paused successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Session is not running
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to pause agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/sessions/{session_id}/agent/resume:
    post:
      summary: Resume Agent
      description: Resumes the AI agent for the specified browser session.
      security:
      - api_key_header: []
      tags:
      - Agentic capabilities
      parameters:
      - name: session_id
        in: path
        required: true
        description: The ID of the browser session
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Agent resumed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Session is not running
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to resume agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    SuccessResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            status:
              type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
  securitySchemes:
    api_key_header:
      type: apiKey
      in: header
      name: anchor-api-key
      description: API key passed in the header
